In [3]:
import pandas as pd

df1 = pd.read_csv('census.csv', header=None)

In [5]:
df1.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11
0,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=Low,capital-loss=None
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
2,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
4,age=Middle-aged,sex=Female,education=Bachelors,native-country=Cuba,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Prof-specialty,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
5,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Exec-managerial,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
6,age=Senior,sex=Female,education=9th,native-country=Jamaica,race=Black,marital-status=Married-spouse-absent,workclass=Private,occupation=Other-service,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
7,age=Senior,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Over-time,income=Large,capital-gain=None,capital-loss=None
8,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Never-married,workclass=Private,occupation=Prof-specialty,hours-per-week=Over-time,income=Large,capital-gain=High,capital-loss=None
9,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Exec-managerial,hours-per-week=Full-time,income=Large,capital-gain=Low,capital-loss=None

In [6]:
sample_df = df1.head(10)

In [9]:
len(sample_df)

10

In [16]:
sample_df[0][0].split('=')

['age', 'Middle-aged']

In [17]:
sample_df[1][0].split('=')

['sex', 'Male']

In [18]:
sample_df[1][0].split('=')[0]

'sex'

In [19]:
for i in sample_df.columns:
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [29]:
col_names = [None]*12
for i in range(12):
    col_names[i] = sample_df[i][0].split('=')[0]

KeyError: 0

In [21]:
col_names

['age',
 'sex',
 'education',
 'native-country',
 'race',
 'marital-status',
 'workclass',
 'occupation',
 'hours-per-week',
 'income',
 'capital-gain',
 'capital-loss']

In [22]:
sample_df.columns = col_names

In [23]:
sample_df.head()

,age,sex,education,native-country,race,marital-status,workclass,occupation,hours-per-week,income,capital-gain,capital-loss
0,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=Low,capital-loss=None
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
2,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
4,age=Middle-aged,sex=Female,education=Bachelors,native-country=Cuba,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Prof-specialty,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None

In [24]:
len(df1)

30162

In [25]:
col_names

['age',
 'sex',
 'education',
 'native-country',
 'race',
 'marital-status',
 'workclass',
 'occupation',
 'hours-per-week',
 'income',
 'capital-gain',
 'capital-loss']

In [26]:
import random

random.shuffle(col_names)

In [27]:
col_names

['education',
 'income',
 'race',
 'capital-loss',
 'hours-per-week',
 'capital-gain',
 'occupation',
 'sex',
 'native-country',
 'marital-status',
 'workclass',
 'age']

In [28]:
sample_df['age'].value_counts()

age=Middle-aged    6
age=Senior         4
Name: age, dtype: int64

In [30]:
sample_df.columns

Index(['age', 'sex', 'education', 'native-country', 'race', 'marital-status',
       'workclass', 'occupation', 'hours-per-week', 'income', 'capital-gain',
       'capital-loss'],
      dtype='object')

In [31]:
df1.columns = sample_df.columns

In [32]:
df1.head()

,age,sex,education,native-country,race,marital-status,workclass,occupation,hours-per-week,income,capital-gain,capital-loss
0,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=Low,capital-loss=None
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
2,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
4,age=Middle-aged,sex=Female,education=Bachelors,native-country=Cuba,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Prof-specialty,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None

In [35]:
df1['age'].value_counts()

age=Middle-aged    15755
age=Senior          7900
age=Young           5668
age=Old              839
Name: age, dtype: int64

In [36]:
df1['sex'].value_counts()

sex=Male      20380
sex=Female     9782
Name: sex, dtype: int64

In [37]:
age_val_counts = df1['age'].value_counts()

In [41]:
age_val_counts

age=Middle-aged    15755
age=Senior          7900
age=Young           5668
age=Old              839
Name: age, dtype: int64

In [44]:
col_names = df1.columns
for col in col_names:
    print(col)

age
sex
education
native-country
race
marital-status
workclass
occupation
hours-per-week
income
capital-gain
capital-loss

In [54]:
attr_set = []
sup=0
given_sup = 0.6
for col in df1.columns:
    vals = df1[col].value_counts()[0]
    sup += vals/len(df1)
    if sup >= given_sup:
        attr_set.append(col)
    #if len(attr_set) == 4:
     #   break

In [55]:
attr_set

['sex',
 'education',
 'native-country',
 'race',
 'marital-status',
 'workclass',
 'occupation',
 'hours-per-week',
 'income',
 'capital-gain',
 'capital-loss']

In [56]:
sup

7.841588754061401

In [57]:
sample_df

,age,sex,education,native-country,race,marital-status,workclass,occupation,hours-per-week,income,capital-gain,capital-loss
0,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=Low,capital-loss=None
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
2,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
4,age=Middle-aged,sex=Female,education=Bachelors,native-country=Cuba,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Prof-specialty,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
5,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Exec-managerial,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
6,age=Senior,sex=Female,education=9th,native-country=Jamaica,race=Black,marital-status=Married-spouse-absent,workclass=Private,occupation=Other-service,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
7,age=Senior,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Over-time,income=Large,capital-gain=None,capital-loss=None
8,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Never-married,workclass=Private,occupation=Prof-specialty,hours-per-week=Over-time,income=Large,capital-gain=High,capital-loss=None
9,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Exec-managerial,hours-per-week=Full-time,income=Large,capital-gain=Low,capital-loss=None

In [73]:
sample_df[sample_df['age']=='age=Senior']

,age,sex,education,native-country,race,marital-status,workclass,occupation,hours-per-week,income,capital-gain,capital-loss
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
6,age=Senior,sex=Female,education=9th,native-country=Jamaica,race=Black,marital-status=Married-spouse-absent,workclass=Private,occupation=Other-service,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
7,age=Senior,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Over-time,income=Large,capital-gain=None,capital-loss=None

In [77]:
len(sample_df[sample_df['sex']=='sex=Female'][sample_df['age']=='age=Middle-aged'][sample_df['education']=='education=Masters'])

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

2

In [84]:
df1['sex'].value_counts().index[0]

'sex=Male'

In [85]:
df1[df1['sex']==df1['sex'].value_counts().index[0]]

,age,sex,education,native-country,race,marital-status,workclass,occupation,hours-per-week,income,capital-gain,capital-loss
0,age=Middle-aged,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=Low,capital-loss=None
1,age=Senior,sex=Male,education=Bachelors,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
2,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
3,age=Senior,sex=Male,education=11th,native-country=United-States,race=Black,marital-status=Married-civ-spouse,workclass=Private,occupation=Handlers-cleaners,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
7,age=Senior,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Over-time,income=Large,capital-gain=None,capital-loss=None
...,...,...,...,...,...,...,...,...,...,...,...,...
30154,age=Middle-aged,sex=Male,education=Masters,native-country=Taiwan,race=Asian-Pac-Islander,marital-status=Never-married,workclass=Private,occupation=Tech-support,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
30155,age=Senior,sex=Male,education=Masters,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Exec-managerial,hours-per-week=Full-time,income=Large,capital-gain=None,capital-loss=None
30156,age=Young,sex=Male,education=Some-college,native-country=United-States,race=White,marital-status=Never-married,workclass=Private,occupation=Protective-serv,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
30158,age=Middle-aged,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Machine-op-inspct,hours-per-week=Full-time,income=Large,capital-gain=None,capital-loss=None
30160,age=Young,sex=Male,education=HS-grad,native-country=United-States,race=White,marital-status=Never-married,workclass=Private,occupation=Adm-clerical,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None

In [88]:
df1['sex'].value_counts()

sex=Male      20380
sex=Female     9782
Name: sex, dtype: int64

In [97]:
type(df1.columns[0])

str

In [98]:
col_names=[]
for i in range(12):
    col_names.append(df1.columns[i])

In [99]:
col_names

['age',
 'sex',
 'education',
 'native-country',
 'race',
 'marital-status',
 'workclass',
 'occupation',
 'hours-per-week',
 'income',
 'capital-gain',
 'capital-loss']

In [104]:
from random import sample

att_comb = sample(col_names, 4)

In [105]:
att_comb

['native-country', 'capital-loss', 'capital-gain', 'hours-per-week']

In [107]:
df1[df1['native-country']=='native-country=United-States'][df1['sex']=='sex=Female']

/Users/Sivankit/anaconda3/envs/tf2/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

,age,sex,education,native-country,race,marital-status,workclass,occupation,hours-per-week,income,capital-gain,capital-loss
5,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Exec-managerial,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
8,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Never-married,workclass=Private,occupation=Prof-specialty,hours-per-week=Over-time,income=Large,capital-gain=High,capital-loss=None
12,age=Young,sex=Female,education=Bachelors,native-country=United-States,race=White,marital-status=Never-married,workclass=Private,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
18,age=Middle-aged,sex=Female,education=Masters,native-country=United-States,race=White,marital-status=Divorced,workclass=Self-emp-not-inc,occupation=Exec-managerial,hours-per-week=Over-time,income=Large,capital-gain=None,capital-loss=None
20,age=Senior,sex=Female,education=HS-grad,native-country=United-States,race=Black,marital-status=Separated,workclass=Private,occupation=Other-service,hours-per-week=Part-time,income=Small,capital-gain=None,capital-loss=None
...,...,...,...,...,...,...,...,...,...,...,...,...
30147,age=Middle-aged,sex=Female,education=Assoc-acdm,native-country=United-States,race=White,marital-status=Divorced,workclass=Private,occupation=Tech-support,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
30150,age=Middle-aged,sex=Female,education=Some-college,native-country=United-States,race=White,marital-status=Divorced,workclass=State-gov,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
30157,age=Middle-aged,sex=Female,education=Assoc-acdm,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Private,occupation=Tech-support,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
30159,age=Senior,sex=Female,education=HS-grad,native-country=United-States,race=White,marital-status=Widowed,workclass=Private,occupation=Adm-clerical,hours-per-week=Full-time,income=Small,capital-gain=None,capital-loss=None
30161,age=Senior,sex=Female,education=HS-grad,native-country=United-States,race=White,marital-status=Married-civ-spouse,workclass=Self-emp-inc,occupation=Exec-managerial,hours-per-week=Full-time,income=Large,capital-gain=High,capital-loss=None

In [111]:
df1[[df1[col]==df1[col].value_counts()[0] for col in att_comb]]

ValueError: Item wrong length 4 instead of 30162.

In [114]:
df1['age']

0        age=Middle-aged
1             age=Senior
2        age=Middle-aged
3             age=Senior
4        age=Middle-aged
              ...
30157    age=Middle-aged
30158    age=Middle-aged
30159         age=Senior
30160          age=Young
30161         age=Senior
Name: age, Length: 30162, dtype: object